<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="escapeU2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <escapeU2.Properties.Settings>
            <setting name="U2Host" serializeAs="String">
                <value>pmsteel.kwyk.net</value>
            </setting>
            <setting name="U2Port" serializeAs="String">
                <value>31438</value>
            </setting>
            <setting name="U2Login" serializeAs="String">
                <value>administrator</value>
            </setting>
            <setting name="U2Password" serializeAs="String">
                <value>H!carb0n</value>
            </setting>
            <setting name="U2Account" serializeAs="String">
                <value>C:\BAI.PROD\PM</value>
            </setting>
            <setting name="SqlHost" serializeAs="String">
                <value>pmsteel.kwyk.net</value>
            </setting>
            <setting name="SqlPort" serializeAs="String">
                <value>1433</value>
            </setting>
            <setting name="SqlLogin" serializeAs="String">
                <value>pmsteel</value>
            </setting>
            <setting name="SqlPassword" serializeAs="String">
                <value>H!carb0n</value>
            </setting>
            <setting name="SqlDatabase" serializeAs="String">
                <value>pmsteel</value>
            </setting>
            <setting name="Verbose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="U2File" serializeAs="String">
                <value>CUST</value>
            </setting>
            <setting name="SqlTable" serializeAs="String">
                <value>CUST</value>
            </setting>
            <setting name="SqlTableFormat" serializeAs="String">
                <value>RAW</value>
            </setting>
            <setting name="Limit" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SqlDictTable" serializeAs="String">
                <value>CUST_DICT</value>
            </setting>
        </escapeU2.Properties.Settings>
    </userSettings>
</configuration>